In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [5]:
path_sched_FY23 = Path('/home/antoine/projects/pax-flow-sim/data/raw/230202 FY2023 R1.xlsx')
sched_FY23 = pd.read_excel(io=path_sched_FY23,sheet_name="230202 FY2023 R1",header=1)

In [6]:
sched_FY23.describe()

               Seats           MTOW     Gate           PAX            LF
count  100007.000000  100007.000000  70771.0  50003.000000  50003.000000
mean      220.512984     130.016819      0.0    164.093634      0.743529
std        62.652027      76.541814      0.0     49.744616      0.075558
min       144.000000      70.000000      0.0     70.000000      0.295580
25%       180.000000      77.000000      0.0    130.000000      0.707447
50%       189.000000      89.000000      0.0    148.000000      0.740909
75%       274.000000     228.000000      0.0    188.000000      0.789855
max       393.000000     352.000000      0.0    351.000000      0.949153